@keyframes Rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

body{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body::-webkit-scrollbar {
    display: none;
}


/* HIGH NOON */

.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #00000080;
    border-bottom: 1px solid rgba(194, 150, 89, 0.300);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.header h1{
    width: 50%;
    padding-left: 30px;
    font-size: 20px;
}

.rightHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    font-size: 16px;

}

.sound{
    padding: 35px;
    border-left: 1px solid rgba(194, 150, 89, 0.300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound img{
    width: 25px;
    height: 25px;
}

.hidden{
    display: none;
}

.highNoon{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/highNoonBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container1{
    position: relative;
    width: 100%;
    height: 100vh;
}

.container2{
    position: relative;
    width: 100vw;
    height: 100vh;
    border-color: #0e6755;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/SentinelBackground3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container3{
    position: relative;
    width: 100vw;
    height: 100vh;
    border-color: #0e6755;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/ionia1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 255px;
    top: calc(50vh - 100px);
    left: 30px;
}


.hg{
    display: flex;
    padding-bottom: 15px;
}

.senti{
    display: flex;
    padding-bottom: 15px;
}

.divine{
    display: flex;
    padding-bottom: 15px;
}

.losangeHighNoon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #c9a259 ;
    transform: rotate(45deg);
}

.losangeHighNoon p{
    transform: rotate(-45deg);
}

.skin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    font-size: 12px;
}

.leftExplication{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 170px;
    bottom: calc(25vh - 85px);
    left: 130px;
}


.under{
    display: flex;
}

.chromaColor{
    display: flex;
    justify-content: space-evenly;
}

.circleColor{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: saddlebrown;
}

.presentationHighNoon{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    top: 530px;
    left: 130px;
}

.titleHighNoon{
    font-size: 18px;
    color: #c9a259;
}

.description{
    font-size: 14px;
    margin-top: 10px;
}


.role{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 195px;
    height: 50px;
    left: 130px;
    top: 670px;
}

/* .difficulty{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 195px;
    height: 25px;
    top: 670px;
    left: 325px;
} */

.power{
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* background-color: #e91e63; */
    height: 100%;
    top: 695px;
    width: 195px;
    height: 25px;
    left: 325px;
}

/* .powersCategory{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkviolet;
    height: 100%;
    width: 120px;
    height: 100%;
} */

.powerScale{
    width: 35px;
    height: 6px;
    background-color: #c9a259;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.powerScaleDiff{
    background-color: #FFFFFF;
}

.midContentHighNoon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #c9a259;
    border-left: 1px solid #c9a259;
    border-top: 1px solid #c9a259;
}

.titleSkinName{
    font-size: 18px;
    padding-top: 50px;
}

.name{
    padding-top: 25px;
    font-size: 200px;
}

.ireliaSkinHighNoon {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    /* border: 1px red solid; */
    /* width: 546px; */
    overflow: hidden;
}

.ireliaSkinHighNoon img{
    width: 750px;
    height: auto;
}

.imageAndButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 64px;
    bottom: 0px;
    overflow: hidden;
}

.skillContent{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 450px;
    height: 450px;
    right: 30px;
    top: calc(50vh - 225px);;

}

.skillVideoHighNoon{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #cfa75c;
    overflow: hidden;
    width: 240px;
    height: 240px;
}

.circleContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}

.skillDashedBorderHighNoon{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 3px dotted #5c482c;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.skillPower{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: darkgray; */
    height: 380px;
}

.ireliaSkillHighNoon{
    border: 2px solid #cfa75c;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ult{
    background-image: url(../images/ireliaUlti.png);
}

.firstPower{
    background-image:url(../images/ireliaFirstPower.png);
}

.secondPower{
    background-image: url(../images/ireliaSecondPower.png);
}

.thirdPower{
    background-image: url(../images/ireliaThirdPower.png);
}

.passive{
    background-image: url(../images/ireliaPassive.png);
}

.recall{
    background-image: url(../images/recall.png);
}

.linearGradientTop{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
}

.linearGradientBot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
}

.downButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 20px;
}

.downCircleHighNoon{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #5c482c;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowHighNoon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #cfa75c;
}

.downArrowHighNoon img{
    width: 20px;
    height: 20px;
}




/* SENTINEL PART */

.ireliaSkinSentinel {
    overflow: hidden;
}

.ireliaSkinSentinel img{
    width: 450px;
    bottom: 0;
    right: 1px;
    position: absolute;
}

.titleSentinel{
    font-size: 18px;
    color: #0e6755;
}

.losangeSentinel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #0e6755 ;
    transform: rotate(45deg);
}

.losangeSentinel p{
    transform: rotate(-45deg);
}

.midContentSentinel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #0e6755;
    border-left: 1px solid #0e6755;
    border-top: 1px solid #0e6755;
}

.ireliaSkillSentinel{
    border: 2px solid #0e6755;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.downCircleSentinel{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #0e6755;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowSentinel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #0e6755;
}

.downArrowSentinel img{
    width: 20px;
    height: 20px;
    filter: invert(28%) sepia(83%) saturate(390%) hue-rotate(118deg) brightness(97%) contrast(98%);
}

.skillDashedBorderSentinel{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 3px dotted #0e6755;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skillVideoSentinel{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #0e6755;
    overflow: hidden;
    width: 240px;
    height: 240px;
}


/* Divine PART */

.ireliaSkinDivine {
    overflow: hidden;
}

.ireliaSkinDivine img{
    width: 430px;
    bottom: 0;
    right: 0px;
    position: absolute;
}

.titleDivine{
    font-size: 18px;
    color: #c47191;
}

.losangeDivine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #c47191;
    transform: rotate(45deg);
}

.losangeDivine p{
    transform: rotate(-45deg);
}

.midContentDivine{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #c47191;
    border-left: 1px solid #c47191;
    border-top: 1px solid #c47191;
}

.ireliaSkillDivine{
    border: 2px solid #c47191;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.downCircleDivine{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #c47191;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowDivine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #c47191;
}

.downArrowDivine img{
    width: 20px;
    height: 20px;
}

.skillDashedBorderDivine{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    border: 3px dotted #c47191;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skillVideoDivine{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #c47191;
    overflow: hidden;
    width: 240px;
    height: 240px;
}