/* Keyframes */
@keyframes Rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

/* All */
body{
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

body::-webkit-scrollbar {
    display: none;
}

a{
    cursor: pointer;
    text-decoration: none;
}

/* Fullpage.js */
/* CIBLE TOUT LES LINKS DE FULLPAGEJS */
#fp-nav a span:nth-child(2) {
    transform: rotate(45deg) !important;
    border-radius: 0px !important;
    background-color: #000000 !important;
}

#fp-nav li:nth-child(1) span:nth-child(2) {
    border:1px solid #c9a259 !important;
}

#fp-nav li:nth-child(2) span:nth-child(2) {
    border:1px solid #0e6755 !important;
}

#fp-nav li:nth-child(3) span:nth-child(2) {
    border:1px solid #c47191 !important;
}

/* Header */
.header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #00000080;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 10;
}

.header .homePage{
    width: 50%;
    padding-left: 30px;
    font-size: 20px;
}


.rightHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    font-size: 16px;
}

.btnHg{
    position: relative;
}

.btnSenti{
    position: relative;
}

.btnDs{
    position: relative;
}

.btnAbout{
    position: relative
}

.btnHg::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #c9a259;
    background: none;
    width: 0;
    height: 100%;
    transition: 350ms;
}

.btnHg:hover::before{
    width: 100%;
}

.btnSenti::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #0e6755;
    background: none;
    width: 0;
    height: 100%;
    transition: 350ms;
}

.btnSenti:hover::before{
    width: 100%;
}

.btnDs::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #c47191;
    background: none;
    width: 0;
    height: 100%;
    transition: 350ms;
}

.btnDs:hover::before{
    width: 100%;
}

.btnAbout::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #FFFFFF;
    background: none;
    width: 0;
    height: 100%;
    transition: 350ms;
}

.btnAbout:hover::before{
    width: 100%;
}



.sound{
    padding: 35px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sound img{
    width: 25px;
    height: 25px;
}

.hidden{
    display: none;
}

/* Container */
.container1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/highNoonBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container2{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/sentinelBackground3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container3{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/ionia1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.leftButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 255px;
    top: calc(50vh - 100px);
    left: 30px;
}

.losangeHighNoon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #c9a259 ;
    transform: rotate(45deg);
    cursor: pointer;
}

.losangeHighNoon p{
    transform: rotate(-45deg);
}

.skin{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    font-size: 12px;
}

.leftExplication{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 170px;
    bottom: calc(25vh - 85px);
    left: 130px;
}

.under{
    display: flex;
    margin-top: 30px;
}

.chromaColor{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.circleColor{
    width: 25px;
    height: 10px;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
    transition: ease-out 200ms;
}

.circleColor:hover{
    transform: scale(1.3);
}

.presentationHighNoon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    top: 530px;
    left: 130px;
}

.titleHighNoon{
    font-size: 18px;
    color: #c9a259;
    margin-top: 10px;
}

.description{
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
}

.role{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 195px;
    height: 50px;
    left: 130px;
    top: 670px;
}

.power{
    display: flex;
    align-items: center;
    height: 100%;
    top: 695px;
    width: 195px;
    height: 25px;
    left: 325px;
}

.powerScale{
    width: 35px;
    height: 6px;
    background-color: #c9a259;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
}

.powerScaleDiff{
    background-color: #FFFFFF;
}

.midContentHighNoon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #c9a259;
    border-left: 1px solid #c9a259;
    border-top: 1px solid #c9a259;
}

.titleSkinName{
    font-size: 18px;
    padding-top: 50px;
}

.name{
    padding-top: 25px;
    font-size: 200px;
}

.ireliaSkinHighNoon {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.ireliaSkinHighNoon img{
    width: 750px;
    height: auto;
}

.imageAndButton{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 64px;
    bottom: 0px;
    overflow: hidden;
}

.skillContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 450px;
    height: 450px;
    right: 30px;
    top: calc(50vh - 225px);;

}

.skillVideoHighNoon{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #cfa75c;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.circleContent{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillDashedBorderHighNoon{
    height: 310px;
    width: 310px;
    border-radius: 100%;
    border: 3px dotted #5c482c;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.skillPower{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 380px;
}

.ireliaSkillHighNoon{
    border: 2px solid #cfa75c;
}

.ireliaSkill{
    opacity: 0.5;
    transition: ease-out 200ms;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.ireliaSkill:hover{
    opacity: 1;
    transform: scale(1.3);
}

.activeSkill{
    opacity: 1;
    transform: scale(1.3);
}

.ult{
    background-image: url(../images/ireliaUlti.png);
}

.firstPower{
    background-image:url(../images/ireliaFirstPower.png);
}

.secondPower{
    background-image: url(../images/ireliaSecondPower.png);
}

.thirdPower{
    background-image: url(../images/ireliaThirdPower.png);
}

.passive{
    background-image: url(../images/ireliaPassive.png);
}

.recall{
    background-image: url(../images/recall.png);
}

.resolute{
    background-color: #7ea7b9;
}

.pearl{
    background-color: #cdd3c6;
}

.quartz{
   background-color: #e4c0bf; 
}

.saphire{
    background-color: #2b3351;
}

.tanzinite{
    background-color: #192c7e; 
}
.turquoise{
    background-color: #08dcd3;
}

.obsidian{
    background-color: #414c52;
}

.emerauld{
    background-color: #1d5842;
}

.linearGradientTop{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0) 25%, rgba(0,0,0,1) 100%);
}

.linearGradientBot{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 90px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(0,0,0,0) 100%);
}

.downButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    transition: ease-out 200ms;
}

.downButton:hover{
    transform: scale(1.1);
}

.downCircleHighNoon{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #5c482c;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowHighNoon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #cfa75c;
    cursor: pointer;
    transition: ease-out 200ms;
}

.downArrowHighNoon img{
    width: 20px;
    height: 20px;
}

/* SENTINEL PART */

.ireliaSkinSentinel {
    overflow: hidden;
}

.ireliaSkinSentinel img{
    width: 450px;
    bottom: 0;
    right: 1px;
    position: absolute;
}

.titleSentinel{
    font-size: 18px;
    color: #0e6755;
    margin-top: 10px;
}

.losangeSentinel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #0e6755 ;
    transform: rotate(45deg);
    cursor: pointer;
}

.losangeSentinel p{
    transform: rotate(-45deg);
}

.midContentSentinel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #0e6755;
    border-left: 1px solid #0e6755;
    border-top: 1px solid #0e6755;
}

.ireliaSkillSentinel{
    border: 2px solid #0e6755;
}

.downCircleSentinel{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #0e6755;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowSentinel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #0e6755;
    cursor: pointer;
}

.downArrowSentinel img{
    width: 20px;
    height: 20px;
    filter: invert(28%) sepia(83%) saturate(390%) hue-rotate(118deg) brightness(97%) contrast(98%);
}

.skillDashedBorderSentinel{
    height: 310px;
    width: 310px;
    border-radius: 100%;
    border: 3px dotted #0e6755;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skillVideoSentinel{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #0e6755;
    overflow: hidden;
    width: 300px;
    height: 300px;
}


/* Divine PART */

.ireliaSkinDivine {
    overflow: hidden;
}

.ireliaSkinDivine img{
    width: 1119px;
    bottom: 0;
    right: -378px;
    position: absolute;
}

.titleDivine{
    font-size: 18px;
    color: #c47191;
    margin-top: 10px;
}

.losangeDivine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #c47191;
    transform: rotate(45deg);
    cursor: pointer;
}

.losangeDivine p{
    transform: rotate(-45deg);
}

.midContentDivine{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    left: calc(50% - 200px);
    top: 130px;
    bottom: 0px;
    border-right: 1px solid #c47191;
    border-left: 1px solid #c47191;
    border-top: 1px solid #c47191;
}

.ireliaSkillDivine{
    border: 2px solid #c47191;
}

.downCircleDivine{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 2px dotted #c47191;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.downArrowDivine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #121418;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #c47191;
    cursor: pointer;
}

.downArrowDivine img{
    width: 20px;
    height: 20px;
}

.skillDashedBorderDivine{
    height: 310px;
    width: 310px;
    border-radius: 100%;
    border: 3px dotted #c47191;
    animation-name: Rotation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skillVideoDivine{
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: azure;
    border-radius: 100%;
    border: 1px solid #c47191;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

/* ABOUT */

.aboutContainer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/aboutBackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inspiration{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

.inspiration h1{
    font-size: 32px;
    position: absolute;
    top: 25vh;
    text-decoration: underline;
}

.inspiration p{
    font-size: 24px;
    position: absolute;
    top: 30vh;
}

.inspiration a{
    font-size: 24px;
    position: absolute;
    top: 35vh;
    transition: ease-out 200ms;
    color: rgb(96, 255, 234);
}

.inspiration a:hover{
    transform: scale(1.3);
    text-decoration: underline;
}

.developped{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    height: 50vh;
}

.developped h1{
    font-size: 32px;
    position: absolute;
    top: 5vh;
    text-decoration: underline;
}

.developped p{
    font-size: 24px;
    position: absolute;
    top: 10vh;
}

.developped a{
    font-size: 24px;
    position: absolute;
    top: 15vh;
    transition: ease-out 200ms;
    color: rgb(96, 255, 234);
}

.developped a:hover{
    transform: scale(1.3);
    text-decoration: underline;
}
